body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Bitter', serif;
font-family: 'Playfair Display', serif;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
span{
    color: tomato;
}
.flexible-container{
    display:flex;
    margin: middle;
  
}
.half-width img{
    width: 40%;
}
h1{
    font-size: 40px;
}
.button{
    background-color: tomato;
    font-weight: 300;
    text-decoration: none;
    color: azure;
    border-radius:5px;
    padding:10px 40px;
}
.mission-area{
    display: flex;
}
.box-area-one{
    width: 30%;
    background-color:lightgray;
    margin: 90px;
    padding: 40px ;
    border-radius: 30px;

}
.box-area-one img{
    width: 40%;
}
.box-area-two{
    width: 30%;
    background-color: lightpink;
    margin: 90px;
    padding: 40px;
    border-radius: 30px;

}
.box-area-two img{
    width: 40%;
}
.box-area-three{
    width: 30%;
    background-color: lightyellow;
    margin: 90px;
    padding: 40px;
    border-radius: 30px;

}
.box-area-three img{
    width: 40%;
}
.second-headline{
    text-align: center;
}
.third-section img{
background-image:url(images/shapes/shape-1.png);
background-repeat:round;
width: 40%;
padding-left: 200px;
}
.third-section{
    padding-right: 5%;
}
.fourth{
    width: 40%;
}
.fourth img{
    width: 40%;
    margin-left:700px;
}
footer{
    background-color: black;
    text-decoration: none;
    color: white;
    font-family:monospace;
}
 